@font-face {
    font-family: 'JungleFont';
    src: url('../font/Junter-0vWjo.otf') format('opentype');
}
body {
font-family: JungleFont, sans-serif;
margin: 0;
background: linear-gradient(to bottom left, #f7f7f7, #f7f7f7);
background-size: cover;
}
.navbar {
background-color: #ffffff;
margin-top: -100vh;
overflow: hidden;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 20px;
position: fixed;
width: 100%;
z-index: 1;
}
.navbar a {
color: #000000;
text-decoration: none;
padding: 14px 20px;
display: block;
}
.navbar a:hover {
text-decoration: underline;
}
.navbar .logo {
font-size: 24px;
font-weight: bold;
padding: 5px;
}
.logoimg {
width: 50px;
}
.navbar .right {
display: flex;
align-items: center;
}
.droite {
display: flex;
align-items: center;
margin-left: 20vw;
}
.navbar .right a {
display: flex;
align-items: center;
}
.navbar .right img {
border-radius: 50%;
width: 32px;
height: 32px;
margin-left: 10px;
}
.menu-toggle {
display: none;
flex-direction: column;
cursor: pointer;
}
.menu-toggle span {
background: #000;
display: block;
height: 2px;
margin: 4px 0;
width: 25px;
}

/* Responsive Design */
@media (max-width: 768px) {
.navbar {
flex-direction: column;
align-items: flex-start;
}
.navbar .right {
display: none;
flex-direction: column;
width: 100%;
}
.navbar .right a {
width: 100%;
padding: 10px 20px;
}
.droite {
flex-direction: column;
margin-left: 0;
}
.menu-toggle {
display: flex;
}
.navbar .right.show {
display: flex;
}
}
.container {
    padding: 20px;
    text-align: center;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 100vh;
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center
}
.footer-section {
    flex: 1;
    min-width: 200px;
    padding: 10px
}
.footer-section h4, .footer-section h3 {
    margin-bottom: 10px
}
.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0.
}
.footer-section ul li {
    margin: 0 10px
}
.footer-section ul li a {
    color: #fff;
    text-decoration: none
}
.social-links {
    display: flex;
    justify-content: center
}